{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Village</th>
                <td>{{ equipe.village }}</td>
            </tr>
            <tr>
                <th>Poney</th>
                <td>{{ equipe.poney }}</td>
            </tr>
            <tr>
                <th>Cavalier</th>
                <td>{{ equipe.cavalier }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ equipe.image }}</td>
            </tr>
            <tr>
                <th>Medailleor</th>
                <td>{{ equipe.medailleOr }}</td>
            </tr>
            <tr>
                <th>Medailleargent</th>
                <td>{{ equipe.medailleArgent }}</td>
            </tr>
            <tr>
                <th>Medaillebronze</th>
                <td>{{ equipe.medailleBronze }}</td>
            </tr>
            <tr>
                <th>Totalmedailles</th>
                <td>{{ equipe.totalMedailles }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
